html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

body {
    background: #e4e4e4;
    color: #222;
    font: 11px verdana, arial, helvetica, sans-serif;
}

#sideBarNav {
	float: left;
	padding:10px 20px 20px 0px;
	background-color: #555;
	border-radius: 0px 0px 20px 0px;
}

#sideBarNav div {
	padding-left: 14px;
}

#sideBarNav #appLogo {
	width: 120px;
}

#sideBarNav #appName a {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}

#sideBarNav #appName a:hover {
	text-decoration: none;
}

#sideBarNav #controllers a {
	color: #bbb;
}

#sideBarNav #controllers #title {
	color: #ccc;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 0px 4px 0px;
}

#sideBarNav #controllers #list {
	padding-left: 0px;
}

#sideBarNave #controllers #list ul {
}

#sideBarNav #controllers #list ul li {
	margin-left: -15px;
	list-style-type: none;
}

#sideBarNav #login {
	color: #ccc;
	font-size: 12px;
	padding: 12px 0px 0px 14px;
}

#sideBarNav #login a {
	color: #bbb;
}

a:link, a:visited {
    color: #a22f2f;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
    color: #a22f2f;
    font-weight: bold;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

h2 {
	color: #222;
	font-weight: bold;
	font-size: 14px;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

/* NAVIGATION MENU */
a:link.uline { text-decoration: underline; }

.nav {
    #background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    #border: 1px solid #ccc;
    #border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

/* TABLES */

table {
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #888;
    color: #eee;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #eee;
    display: block;
    font-size: 1apx;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #fff;
}
.even {
    background: #e0c8c8;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #666;
    border-top: 0;
    color: #ddd;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
    border-radius: 0px 0px 6px 6px;
}
.paginateButtons a {
    background: #ddd;
    border-radius: 2px;
    color: #444;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog {
	background-color: #ddd;
	border-radius: 6px 6px 0px 0px;
	width: 480px;
}

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #666;
    color: #ddd;
    font-size: 10px;
    overflow: hidden;
    padding: 0;
    border-radius: 0px 0px 6px 6px;
    width: 480px;
    margin-bottom: 10px;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #ddd;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.add {
    background: transparent url(../images/skin/database_add.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.preview {
    background: transparent url(../images/skin/preview_survey.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.submit {
    background: transparent url(../images/skin/submit_survey.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.take {
    background: transparent url(../images/skin/take_survey.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.show {
    background: transparent url(../images/skin/go_back.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.sendLogin {
    background: transparent url(../images/skin/login.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.deleteIcon {
	position: relative;
	top: 3px;
	cursor:pointer
}

td.errors {
	background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
}

/*This is for jquery validation*/
.error {
	color: red;
	font-weight: bold;
	font-size: 1.2em;
}